.interactive-container {
    padding: 0 10px 0 10px;
    margin: 0 auto;   
    &.immersive {
    	
        max-width: none;
        width:100%;
        padding:0;

    }

    p, h2, h3 {
            max-width: 580px;
            padding-left: 10px;
            padding-right: 10px;
            @media (min-width: map-get($mq-breakpoints, desktop)) {
                max-width: 960px;
                padding-left: 0px;
                padding-right: 320px;
            }   
            
        }

}